<div class="container-fluid">
  <div id="domain-alert" class="message is-hidden">
    <div class="message-header">
      <p>Success!</p>
      <button id="domain-hide-button" class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <p>Test</p>
    </div>
  </div>
  <h1 class="title is-2">Check details for domain {{domain.name}}</h1>


</div>

<script src="/js/domain-notifications.js"></script>