<section class='container'>
  <article class='row'>
    <div class='col-1 col-md-2 col-lg-3'></div>
    <div class='col'>
      <div class='card'>
        <div class='card-header'>
          <h2 class="h4">Search through the API</h2>
        </div>
        <div class='card-body'>
          {{!-- Search form start --}}
          <form action="/search">
            <div class="mb-3">
              <label for="search-input" class="form-label">Search for a joke</label>
              <input required="true" list="suggestions" name="search" placeholder="Search for a joke" type="text" class="form-control" id="search-input" aria-describedby="search-input-help-text">
              <datalist id="suggestions">
                <option value="Why did the Koala get rejected?">
                <option value="Why are cats so good at video games?">
                <option value="Why did the Python data scientist get arrested at customs?">
                <option value="Why do ghosts go on diets?">
                <option value="What is the best prefix for global variables?">
              </datalist>
              <div id="search-input-help-text" class="form-text">Enter a search query</div>
            </div>
            <div class="mb-3">
              <label for="search-input" class="form-label">Joke count</label>
              <input required="true" min="1" max="5" value="3" name="count" placeholder="Joke count" type="number" class="form-control" id="search-count" aria-describedby="search-count-help-text">
              <div id="search-count-help-text" class="form-text">Enter how many entries you want to receive</div>
            </div>
            <div class="mb-3 form-check">
              <input name="all" checked="true" type="checkbox" class="form-check-input" id="search-all-jokes-enabled">
              <label class="form-check-label" for="search-all-jokes-enabled">Search all jokes</label>
            </div>
            <div class="mb-3 form-check">
              <input name="nsfw" type="checkbox" class="form-check-input" id="search-nsfw-enabled">
              <label class="form-check-label" for="search-nsfw-enabled">Include NSFW jokes</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-outline-secondary" onclick="window.location = '/search'">Reset form</button>
          </form>
          {{!-- Search form end --}}

          {{#if searchResults}}

          {{!-- Joke parsing --}}
          {{#if searchResults.jokes}}
          <hr />
          <h2 class="h4">Results</h2>
          <ul class="list-group mt-3">
            {{#each searchResults.jokes}}
            <li class="list-group-item">
              {{>joke joke=.}}
            </li>
            {{/each}}
          </ul>
          {{!-- Joke parsing end --}}

          {{!-- Error parsing --}}
          {{else if searchResults.error}}
          <div class="alert alert-warning mt-3">{{searchResults.message}}</div>
          {{/if}}
          {{!-- End error parsing --}}

          {{/if}}


        </div>
        <footer class='card-footer bg-light d-flex justify-content-between'>
          <small>
            Jokes are fetched from <a href="https://jokeapi.dev/">https://jokeapi.dev/</a>.
          </small>
        </footer>
      </div>
    </div>
    <div class='col-1 col-md-2 col-lg-3'></div>
  </article>
</section>