<div class="container">
  <div class="columns">
    <div class="column"></div>

    <div class="column is-half">
      <div class="card mt-6">
        <div class="card-content">
          <h1 class="h2 text-center">Login to Ghost Notifier</h1>
          <form method="POST" action="/api/user/login">
            <div class="field">
              <label for="email" class="label">Email</label>
              <input required id="email" name="email" placeholder="Please enter your Email address" type="email" class="input">
            </div>

            <div class="field">
              <label for="password" class="label">Password</label>
              <input required id="password" name="password" placeholder="Please enter your password" type="password" class="input">
            </div>

            <div class="field">
              <input type="submit" value="Login" class="button is-primary is-fullwidth">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="column"></div>
  </div>
</div>