@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: #4693c8;
$purple: #9e4d90;
$red: #f01234;

// Update Bulma's global variables
// $family-sans-serif: 'Nunito', sans-serif;
$primary: $blue;
// $secondary: $purple;
$link: $purple;

@import '../../../node_modules/bulma/bulma.sass';
