<div class="container-fluid">
  <div id="domain-alert" class="message is-hidden">
    <div class="message-header">
      <p>Success!</p>
      <button id="domain-hide-button" class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <p>Test</p>
    </div>
  </div>
  <h1 class="title is-2">Manage your domains</h1>
  <p class="subtitle">Domains are your Ghost blog's addresses on the internet. Before sending Webhooks, you must first create at least one new domain your readers can subscribe to. </p>
  <a class="is-link">Read more about Domains</a>
  <div class="columns mt-4">
    <div class="column is-two-third">
      <div class="card">

        <div class="card-content">
          <h2 class="title is-4">Active domains</h2>
          <div class="table-container">
            <table class="table is-striped">
              <thead>
                <tr>
                  <th>Domain name</th>
                  <th>Access</th>
                  <th>Status</th>
                  <th class="text-end">Details</th>
                </tr>
              </thead>
              <tbody>
                {{#each data}}
                <tr>
                  <td>{{name}}</td>
                  <td>{{type}}</td>
                  <td>{{status}}</td>
                  <td class="is-flex is-justify-content-end">
                    <a href="/my-domains/{{id}}/notifications" class="button is-primary mr-1" title="Open Monitor for this domain" class="">
                      <i class="gg-play-list-search"></i>
                    </a>
                  </td>
                </tr>
                {{/each}}

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <h2 class="title is-4">Register new domain</h2>

          <form method="POST" action="/api/domain/create">
            <div class="field">
              <label class="field-label is-normal" for="name">Domain name</label>
              <input required name="name" class="input is-light" type="url" placeholder="Enter your domain name, e.g. https://my.blog.com">
            </div>
            <div class="field">
              <label class="field-label is-normal" for="type">Domain access</label>
              <select required name="type" class="input is-light" placeholder="Choose between public and private access">
                <option value="public">Public</option>
                <option value="private">Private</option>
              </select>
            </div>

            <div class="field">
              <label class="field-label is-normal" for="status">Domain status</label>
              <select required name="status" class="input is-light" placeholder="Choose between public and private access">
                <option selected value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div>
            <div class="field">
              <input class="button is-primary" type="submit" value="Submit">
            </div>

          </form>
        </div>
      </div>


    </div>
  </div>

</div>

<script src="/js/domain.js"></script>